<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.pageTitle</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <div class="container">
        <div class="flex">
            <div class="flex-1">
                <i class="fa-solid fa-money-bill" aria-hidden="true"></i>
                Stocks
            </div>
            <div class="flex-1">
                Login
            </div>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    <script></script>
</body>
</html>