@using AspRazorViews.Models;
@{
    int? GetAge(DateTime? dateOfBirth)
    {
        if (dateOfBirth is not null)
        {
            double totalDays = (DateTime.Now - dateOfBirth).Value.TotalDays;
            return (int)(totalDays / 365.25);
        }
        return null;
    }
}
<html lang="en-us">
<head>
    <title>@ViewData["appTitle"]</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <div class="page-content direction-column">
        <h1>Good to see you, bish!</h1>
        @foreach (Person person in ViewBag.persons)
        {
            <div class="box float-left w-50">
                <h3>Name: @person.Name</h3>
                <table class="table w-100">
                    <tr>
                        <td>Age:</td>
                        <td>@GetAge(person.DateOfBirth)</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>@person.Gender</td>
                    </tr>
                </table>
                <a href="/person-details/@person.Name">Details</a>
            </div>
        }
        <div>
            <a href="/person-products">Person Products</a>
        </div>
    </div>
    <script></script>
</body>
</html>