<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Asp Demo</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <div class="page-content">
        <div class="navbar">
            <div class="navbar-brand">Asp Demo App</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        @RenderBody()
    </div>
    <script></script>
</body>
</html>
